*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*============= NAV BAR ===============*/
.navbar{
  display: flex;
  justify-content: flex-end;
  border: 1px black solid;
  background-color: black;
  position: fixed;
  height: 4rem;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  padding: 0 1rem 0 2rem;
}

.navbar .nav-links{
  display: flex;
  flex-flow: row;
  align-items: center;
  list-style: none;
  gap: 2rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.navbar .nav-links a{
  text-decoration: none;
  color: white;
  padding: 4rem 1rem;
  display: block; 
}

.navbar .nav-links a:hover{
  background-color: white;
  color: black;
}


/*==============ABOUT ME PAGE=================*/
.about_me{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 5rem 0;
}

/*============PROFILE IMAGE=================*/
.about_me .profile_image{
  padding: 2rem 0rem 1rem 6rem;
  position: relative;
  z-index: 2;
}

.about_me .profile_text_container{
  background-color: bisque;
  height: 30rem;
  width: 100%;
  position: absolute;
  z-index: -1;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3)
}

.about_me .profile_image img{
  height: 700px;
  width: 400px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
}

/*============PROFILE DESCRIPTION=================*/
.about_me .profile_text_container .profile_description{
  width: 50%;
  margin: 3.5rem 1rem 1rem 40rem;
  font-size: 1.3rem;
  color: rgba(23, 23, 23, 0.8);
}

.profile_text_container .profile_description h1{
  color: black;
  font-size: 3rem;
  margin-bottom: 1rem;
}

/*============HOBBIES PAGE================*/
.hobbies{
 display: grid;
 grid-template-columns: 1fr 1fr;
 place-items: center;
 gap: 4rem;
 padding: 6rem 4rem;
 background-color: #f4f4f4;
 font-size: 1.2rem;
}

.hobbies .hobbies_header h1{
  font-size: 3rem;
  color: #333;
  margin-bottom: 10px;
}

.hobbies img{
  height: 600px;
  width: 650px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hobbies img:hover{
  transform: scale(1.05);
}

/*============FOOOTER SECTION================*/
.footer_section{
  background-color: rgb(38, 38, 38);
  color: white; 
}

.footer_container{
  padding: 3rem;
}

.footer_container .social_icons{
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.footer_container .social_icons a{
  text-decoration: none;
  background-color: white;
  padding: 0.8rem;
  margin: 1rem;
  border-radius: 50%;
  transition: transform 0.7s ease-in-out,;
}

.footer_container .social_icons a:hover{
  transform: scale(1.20);
  box-shadow: 0 0 40px rgba(0, 0, 0, 1);
}


.footer_container .social_icons img{
  height: 50px;
  width: 50px;
}

.footer_container .contact_info{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  margin-top: 0.5rem;
}

.footer_container .contact_info p{
  font-size: 1.2rem;
  color: #f4f4f4;
}

.footer_section .footer_bottom{
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding: 0.5rem 1rem;
}